
.card-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
  }
  .card-width {
    width: 26rem;
    height: 550px;
  }
  
   .centered-register img {
      position: absolute;
      right: 22%;
      width: 170px;
      height: 170px;
      top:-170px;
      border-radius: 50%;
      
    }
  
    .back-color {
      background-color: cornflowerblue;
    }